/* #757FB2   #4d4d4d */


.App {
  text-align: center;
}


/* App.css */
.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  height: 5rem;
  background-color: #757FB2;
  border-bottom: 1px solid #ccc;
  position: absolute;
  top: 7rem; /* Adjust according to your navigation bar height */
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure the container is above the map */
}

.stats {
  display: flex;
  gap: 2rem; /* Space between the stats */
}

.stats div {
  font-size: 1rem;
  text-align: center;
  font-size: 15px;
}
.stats-initial {
  display: flex;
  align-items: center;
}
 .stats-initial-p {
 margin-right: 0.3rem;
 font-weight: 600;
letter-spacing: 0.1px;
}
/* nav */

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7rem;
}

.logoDiv {
  width: 10rem;
  height: 5rem;
  background-image: url(./images/OUTSPREAD.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.menu {
  width: 30%;
  display: flex;
  justify-content: space-between;

}
.link {
  font-size: 14.2px;
  color: #4d4d4d;
  font-weight: 600;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
cursor: pointer;

}
.leaflet-touch .leaflet-bar a:last-child {
  color: #65676d;
  border: none;
  outline: none;
}
.leaflet-touch .leaflet-bar a:first-child {
  color: #6a6c78;
  border: none;
  outline: none;
  
}
.stats {
  color: white;
  letter-spacing: 0.2px;
}
.dropdown {
  
  padding: 15px 26px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #4d4d4de7;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #ffffffe2;
  
}
.search {
  width: 15rem;
  height: 3rem;
  display: flex;
  justify-content: start;
  border: 2px solid #757fb2ec;
  align-items: center;
  border-radius: 10px;
  padding-left: 12px;

}

.search-icon {
  margin-left: 0.9rem;
  color: #757FB2;
  font-size: 13px;
  opacity: 0.8;
  font-weight: bold;
  letter-spacing: 0.2px;
  
}
.search-p {
  left: 10px;
}
